<% if(index == 0) { %>
<div class="col-sm-12">
    <input type="checkbox" icheck  data-label="<%= field.label %>" ng-model="<%= getAttr(attr) %>" name="<%= id %>" id="<%= id %>" ng-focus="<%= id %>=true"/>
</div>
<% } %>
