<div class="popUpCompanyOnMap">
    <div class="popUpContent">
        <a href="<%= genUrl.getDetailUrl(company.url) %>" target="_blank"><h7><%= company.name %></h7></a>
        <p><a href="javascript:void(0)"><%= company.companyCategories.join(", ") %> &nbsp;</a></p>
        <p><a href="javascript:void(0)"><%= company.address ? company.address.raw : "" %></a></p>
    </div>
    <div class="popUpImage">
        <div>
            <img src="<%= company.logoImageId ? company.logoImageId.url : 0 %>">
        </div>
    </div>
</div>