<base href="<%= genUrl.getHost() %>">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%- siteInfo.name %></title>
<meta charset="utf-8" name="description" content="<%- siteInfo.desc %>" />
<meta charset="utf-8" name="keywords" content="<%- siteInfo.name %>" />
<link rel="shortcut icon" href="public/favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="public/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="public/css/fontawesome-all.css" type="text/css" />
<link rel="stylesheet" href="public/css/general.css" type="text/css" />
<link rel="stylesheet" href="public/css/desktop.css" type="text/css" />
<link rel="stylesheet" href="public/css/tablet.css" type="text/css" />

<%- siteInfo.meta %>