
<% if (index == 0) { %>
<div class="col-sm-12">
    <select class="form-control" ui-select2 multiple ng-model="<%= getAttr(attr) %>" name="<%= id %>" id="<%= id %>" ng-required="<%= field.required != false ? 'true' : 'false' %>">
        <option value=""></option>
        <option ng-repeat="(idx, elem) in vm.<%= field.lookupFrom %> track by $index" value="{{ elem._id }}" >{{ elem.name }}</option>
    </select>
</div>
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12" ng-nestable ng-model="<%= getAttr(attr + 'NestableData') %>">
            <div>
                {{ $item.name }}
            </div>
        </div>
        <div class="col-sm-12">
            <a class="btn btn-info pull-right" href="#" 
            nestable-data="<%= getAttr(attr) %>"
            nestable-default="vm.<%= field.lookupFrom %>"
            nestable-model="<%= getAttr(attr + 'NestableData') %>">Reset order</a>
        </div>
    </div>
</div>
<% } %>