<% for (var attr in filter) { %>
<div class="item01">
    <h7 class="bold600"><%= langData[attr] %></h7>
    <ul>
        <% for (var elem of filter[attr].rows) { 
            if (receive[attr][elem._id]) {
                elem.checked = true;
            }
        %>
        <li>
            <label class="filterCheck customCheck <%- elem.checked ? 'active' : '' %>"> <p><%= elem.name %></p>
                <input type="checkbox" <%- elem.checked ? 'checked="checked"' : '' %> name="<%= attr %>" value="<%= elem._id %>">
                <span class="checkmark"></span>
            </label>
        </li>
        <% } %>
    </ul>
</div>
<% } %>