<base href="<%= genUrl.getHost() %>">
<meta name="viewport" content="width=device-width,height=device-height,user-scalable=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%- siteInfo.name %></title>
<meta charset="utf-8" name="description" content="<%- siteInfo.desc %>" />
<meta charset="utf-8" name="keywords" content="<%- siteInfo.name %>" />
<link rel="shortcut icon" href="public/favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="public/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="public/css/fontawesome-all.css" type="text/css" />
<link rel="stylesheet" href="public/slick/slick.css" type="text/css" />
<link rel="stylesheet" href="../public/slick/slick-theme.css" type="text/css" />
<link rel="stylesheet" href="public/css/normalize.css" />
<link rel="stylesheet" href="public/css/selectize.css" type="text/css" />
<link rel="stylesheet" href="public/css/mobile.css" type="text/css" />

<%- siteInfo.meta %>