<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include("partials/head") %>
</head>

<body>

    <div class="topNavWhite">
        <%- include("partials/headers/top-nav") %>
    </div>

    <div id="subTitle" style="">
        <div class="container">
            <div class="pageTitle">
                <div class="">
                    <h3 class="fontsize18"><%= langData.title_noti %></h3>
                    <a href="#" class="font-regular fontsize12"><%= langData.lbl_notiSetting %></a>
                    <h7 class="font-regular fontsize12"><%= langData.lbl_notiDesc %></h7>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>



    <div id="content" class="">
        <div class="container">
            <div class="clearfix"></div>
            <div class="notiList">
                <div class="notiItem">
                    <a href="#">
                        <div class="notiItemImg">
                            <img src="public/assets/rectangle-31-copy.jpg" />
                        </div>
                        <div class="notiItemContent">
                            <h7>Your profile need more infor for process to level 2</h7>
                            <p>24/12/2018 01:44PM</p>
                        </div>
                    </a>
                </div>
                <div class="notiItem">
                    <a href="#">
                        <div class="notiItemImg">
                            <img src="public/assets/rectangle-31-copy.jpg" />
                        </div>
                        <div class="notiItemContent">
                            <h7>This text is over 85 characters and will auto cut down to 85 characters This text is over 85
                                characters and will auto cut down to 85 characters</h7>
                                <p>24/12/2018 01:44PM</p>
                        </div>
                    </a>
                </div>
                <div class="notiItem">
                    <a href="#">
                        <div class="notiItemImg">
                            <img src="public/assets/rectangle-31-copy.jpg" />
                        </div>
                        <div class="notiItemContent">
                            <h7>This text is over 85 characters and will auto cut down to 85 characters This text is over 85
                                characters and will auto cut down to 85 characters</h7>
                                <p>24/12/2018 01:44PM</p>
                        </div>
                    </a>
                </div>
                <div class="notiItem highlight">
                    <a href="#">
                        <div class="notiItemImg">
                            <img src="public/assets/rectangle-31-copy.jpg" />
                        </div>
                        <div class="notiItemContent">
                            <h7>Your profile need more infor for process to level maxium text length is 85 characters</h7>
                            <p>24/12/2018 01:44PM</p>
                        </div>
                    </a>
                </div>
                <div class="notiItem highlight">
                    <a href="#">
                        <div class="notiItemImg">
                            <img src="public/assets/rectangle-31-copy.jpg" />
                        </div>
                        <div class="notiItemContent">
                            <h7>Your profile need more infor for process to level maxium text length is 85 characters</h7>
                            <p>24/12/2018 01:44PM</p>
                        </div>
                    </a>
                </div>
                <div class="notiItem highlight">
                    <a href="#">
                        <div class="notiItemImg">
                            <img src="public/assets/rectangle-31-copy.jpg" />
                        </div>
                        <div class="notiItemContent">
                            <h7>This text is over 85 characters and will auto cut down to 85 characters This text is over 85
                                characters and will auto cut down to 85 characters</h7>
                                <p>24/12/2018 01:44PM</p>
                        </div>
                    </a>
                </div>
                <div class="notiItem highlight">
                    <a href="#">
                        <div class="notiItemImg">
                            <img src="public/assets/rectangle-31-copy.jpg" />
                        </div>
                        <div class="notiItemContent">
                            <h7>This text is over 85 characters and will auto cut down to 85 characters This text is over 85
                                characters and will auto cut down to 85 characters</h7>
                                <p>24/12/2018 01:44PM</p>
                        </div>
                    </a>
                </div>
                <div class="notiItem">
                    <a href="#">
                        <div class="notiItemImg">
                            <img src="public/assets/rectangle-31-copy.jpg" />
                        </div>
                        <div class="notiItemContent">
                            <h7>Your profile need more infor for process to level 2</h7>
                            <p>24/12/2018 01:44PM</p>
                        </div>
                    </a>
                </div>
                <div class="notiItem">
                    <a href="#">
                        <div class="notiItemImg">
                            <img src="public/assets/rectangle-31-copy.jpg" />
                        </div>
                        <div class="notiItemContent">
                            <h7>Your profile need more infor for process to level 2</h7>
                            <p>24/12/2018 01:44PM</p>
                        </div>
                    </a>
                </div>
                <div class="notiItem">
                    <a href="#">
                        <div class="notiItemImg">
                            <img src="public/assets/rectangle-31-copy.jpg" />
                        </div>
                        <div class="notiItemContent">
                            <h7>Your profile need more infor for process to level 2</h7>
                            <p>24/12/2018 01:44PM</p>
                        </div>
                    </a>
                </div>
                <div class="notiItem highlight">
                    <a href="#">
                        <div class="notiItemImg">
                            <img src="public/assets/rectangle-31-copy.jpg" />
                        </div>
                        <div class="notiItemContent">
                            <h7>Your profile need more infor for process to level maxium text length is 85 characters</h7>
                            <p>24/12/2018 01:44PM</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>




    <div class="goTop">
        <a href="#">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>

    <%- include("partials/footers/default") %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.0/TweenMax.min.js"></script>
    <script src="public/js/waypoints.min.js"></script>
    <script src="public/js/jquery.counterup.min.js"></script>

</body>

</html>
