

<!-- Forgot Password -->

<div class="modal fade" id="forgot" tabindex="-1" role="dialog" aria-labelledby="forgotLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top:20px; width:570px;">
        <div class="modal-content" style="padding:20px 40px;">
            <div class="modal-header">
                <h6 class="modal-title" id="forgotLabel" style="display: contents;"><%= langData.title_forgotPassword %></h6>
                <button type="button" class="close closeButton" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="username" class="col-form-label"><%= langData.lbl_phoneNumber %></label>
                        <input type="text" class="" id="phoneNumber" placeholder="<%= langData.placeholder_phone %>" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="help">
                    <a class="font-regular" href="#"><%= langData.btn_needHelp %></a>
                </div>
                <div class="clearfix"></div>
                <button type="button" class="returnButton" data-toggle="modal" data-dismiss="modal" data-target="#login"><%= langData.btn_returnLogin %></button>
                <button type="button" class="nextButton"><%= langData.btn_next %></button>

            </div>
        </div>
    </div>
</div>
<!-- End Forgot Password -->

